[Desktop Entry]
Type=Application
Name=Fallout CE
Comment=Fallout 1/2 game re-implementation for the modern systems
Exec=fallout2-ce
Icon=fallout2-ce
Terminal=false
Categories=Game;